h1 {
    color: rgb(239, 239, 247);
    font-family: verdana;
    font-size: 300%;
    /* color: rgb(21, 202, 51); */

  }

h2 {
    color: blue;
    font-family: verdana;
    font-size: 200%;
}

body {
    background: white url("images/background.jpg") no-repeat;
    background-repeat: no-repeat;
    background-size: 100%;
    
}
/* 
.table-centralised {
width: 0 auto;
}
.table-centralised th {
text-align: right;
width:  auto;
}
.table-centralised td {
text-align: left;
width: auto;
} */